<a href="https://colab.research.google.com/github/gunavardhanrao/Innomatics/blob/main/lambdaFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Lambda Function

* Nameless function
* generally written in a single line.
* by default a lambda function will return a value there is no need to write a written statement
* No cap on number of arguments to be used

**Note: Generally lambda functions are used as an input for higher order functions**

        **Syntax:**

        lambda atribute1, attribute2 ... : statement using the attributes

        ex: def foo(x):

            return x**(1/3)   

            whereas,

            lambda x : x**(1/3)

            Calling Lamda function : Two ways

            1. foo1 = (lambda x : x**(1/3))
                    foo1(27)

            2 . (lambda x : x**(1/3)(27)

In [ ]:
f = (lambda x : x**(1/3))

In [ ]:
print(f, type(f) , sep = '\n')

<function <lambda> at 0x7f3264149ab0>
<class 'function'>

In [ ]:
f(125)

4.999999999999999

In [ ]:
# working with more than one parameter
(lambda x1, x2: x1**x2)(3, 2)

9

**Using default , keyword or arbitary arguments with lambda functions**

In [ ]:
(lambda x, y = 2 : x**y)(2)

4

In [ ]:
(lambda x, y = 2 : x**y)(2,3)

8

In [ ]:
(lambda x, y = 2 : x**y)(y = 4, x = 3)

81

In [ ]:
# using arbitary positional arguments

(lambda *x :[ele for ele in x if ele%2 == 0])(1,10,2,21)

[10, 2]

In [ ]:
(lambda *x :[ele for ele in x if ele%2 == 0])(*[5, 7, 8,61, 52])

[8, 52]

lambda function will return one value if we want more than one we can pack it in a tuple and later unpack it as below

In [ ]:
(lambda x,y : (x+y, y-x))(5, 2)

(7, -3)

In [ ]:
(lambda x,y : x+y, y-x)(5, 2)

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-12-f32e6c9ddb70>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda x,y : x+y, y-x)(5, 2)

NameError: name 'y' is not defined

In [ ]:
# using with arbitary keyword arguments
(lambda **x : [k : (sum(v)/len(v))] for k,v in x.items())()

SyntaxError: invalid syntax (<ipython-input-14-2a96ea811e39>, line 2)

### Map(), filter(), reduce()
**These are three built in higher order functions(classes)**

### Map()
* Built in class, which takes a function and an iterator and maps the functionality of the input function to every element of the iterator.
* It returns a map object.

        syntax:
        map(func, iteartor) ---> map object

In [ ]:
# map()

y = (lambda x : x**2, [1,2,3,4])
print(y, type(y), sep = '\n')

**Note**

**map object is a kind of a generator which has the functionality of function applied to values of iterator.**

 **It does not apply functionality and store the values either it will be ready to apply functionality and when we typecast or call the values it will then apply functionality and give the values**

In [ ]:
(lambda x : 1/x)(0)

ZeroDivisionError: division by zero

In [ ]:
z = map(lambda x : 1/x, [10, 5, 2, 0]) # here we won't get the error at first
print(z, type(z), sep = '\n')

<map object at 0x7f3230f9e9b0>
<class 'map'>

In [ ]:
for ele in z:
  print(z)   # here for last value we get zero division error

<map object at 0x7f3230f9e9b0>
<map object at 0x7f3230f9e9b0>
<map object at 0x7f3230f9e9b0>

ZeroDivisionError: division by zero

In [ ]:
z = map(lambda x : 1/x, [10, 5, 'abc', 0]) # here we won't get the error at first
print(z, type(z), sep = '\n')

<map object at 0x7f3230f9ed40>
<class 'map'>

In [ ]:
for ele in z:
  print(z)   # here when it tried to apply functionality on each ele when it encountered 1/'abc' it throws an error at that moment saying type error

ZeroDivisionError: division by zero

In [ ]:
# Task
z = map(lambda x: x.upper(), ['himalayas','kanchenjunga','mounteverest'])

In [ ]:
lz = list(z)
lz

['HIMALAYAS', 'KANCHENJUNGA', 'MOUNTEVEREST']

### filter()

    syntax:

    filter(function, iterator) ---> returns filter object


* returns filter object
* Works with <b> True or <b> False
* True values will be returned
* False values will be filterd out
* Operation will be same as map()

In [ ]:
f = filter(lambda x : True if x%2 == 0 else False, [1,11,12,14,5])
print(f, type(f), sep = '\n')

<filter object at 0x7f32311e1ff0>
<class 'filter'>

In [ ]:
for ele in f:
  print(ele)

12
14

### reduce()
* we need to import it using
      import functools
      from functools import reduce

* reduce will always returns a single value
* The function inside reduce will work only with exactly two arguments
* reduce(function, iterator)

In [ ]:
import functools
from functools import reduce

In [ ]:
reduce(lambda x, y : x-2 * y, [1,2,3,4,5])

-27


Find a logic to accept n which is a positive number greater than 5 , and then using a input statement create a list of n strings

1. Using input statement create a list of n strings
2. Using a filter function return a list of strings which doesn't contain vowels
3. Using another filter func return only those strings which contain atleast one vowel and the length of the string should be odd.

**Hint** Use set methods for your advantage